<head><style>body{background-color: rgba(0, 0, 0, 1);font-family: 'Menlo', monospace;color: #6eca04;padding: 10px;font-size: 18px;list-style:} ul{list-style-type: tibetan;text-transform: lowercase;}</style></head>

<body>
  <p>command centre<p>
  <ul></ul>

  <script>
    const electron = require('electron');
    const { ipcRenderer } = electron;
    const list = document.querySelector('ul');

    ipcRenderer.on('command:executed', (event, output) => {
      const li = document.createElement('li');
      const text = document.createTextNode(output);

      li.appendChild(text);
      list.appendChild(li);
    });

    ipcRenderer.on('command:clearAll', () => {
      list.innerHTML = '';
    });
  </script>
</body>
