<!-- <head>
</head>
<body>
  <form>
    <div>
      <label>Enter your command</label>
      <input autofocus />
    </div>
    <button type="submit">Execute</button>
  </form>

  <script>
    // a bit different than Chrome, common js avaiable here
    const electron = require('electron');
    const { ipcRenderer } = electron;

    document.querySelector('form').addEventListener('submit', (event) => {
      event.preventDefault();

      const { value } = document.querySelector('input');
      ipcRenderer.send('command:execute', value);
    });
  </script>
</body>

 -->
