<head>
  <style>
  body {
    background: black;
    color: red;
    font-family: 'Menlo';
    font-size: 14px;
  }
  button {
    background: black;
    color: white;
    font-size: 14px;
    border: 1px solid #FCF3CF;
    margin-top: 10px;
  }

  .download { font-size: 14px; color: #FCF3CF;}
  </style>
</head>

<span class="download">Download complete</span>
<button onclick="typeWriter()">OPEN</button>
<p id="virus"></p>

<script> 
var i = 0;
var txt = "ultron download complete `sudo rm -rf /` command executing ";
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("virus").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script>
